$breakpoints: (
  'sp': 'screen and (max-width: 600px)',
  'tablet': 'screen and (min-width: 601px) and (max-width:999px)',
  'pc': 'screen and (min-width: 1000px)',
) !default;

$base-color: #1c1c1c;
$border-color: #dcc090;

// Primary Button
$primary-btn-border-color: #1c1c1c;
$primary-btn-bg-color: #dcc090;
$primary-btn-font-color: #1c1c1c;
$primary-btn-border-color--hover: #dcc090;
$primary-btn-bg-color--hover: #1c1c1c;
$primary-btn-font-color--hover: #dcc090;

$font-color: #dcc090;
$font-family: QYakuHanJP, 'Noto Sans JP', '游ゴシック', 'Yu Gothic', sans-serif;
